
{% load static %}

<meta name="description" content="{{ site_data.description }}">

<meta property="og:title" content="{{ site_data.name }} - {{ site_data.title }}">
<meta property="og:description" content="{{ site_data.description }}">
<meta property="og:image" content="{{ site_data.og_image }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site_data.name }} - {{ site_data.title }}">
<meta name="twitter:description" content="{{ site_data.description }}">
<meta name="twitter:image" content="{{ site_data.og_image }}">